@use '../../../../css/variables.scss' as var;

button {
	font-size: 1.5rem;
	width: 150px;
	height: 60px;
	background-color: transparent;
	border: 2px solid var.$white;
	color: var.$white;
	border-radius: 8px;
	margin: 0.5rem;
	&:hover {
		cursor: pointer;
	}
}
button.small {
	font-size: 1rem;
	height: 40px;
	background-color: transparent;
	border: 1px solid var.$white;
	border-radius: 5px;
}
